<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="x-apple-disable-message-reformatting">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
</head>
<body>
<h2>Witaj [[${firstName}]] [[${lastName}]]</h2>
<p>
    Twoja wizyta została pomyślnie zarezerwowana w Internetowym Systemie Rezerwacji Kolejki dla zasobu: [[${resource}]].
    Twój termin rezerwacji: [[${date}]]
    <br>
    W dniu rezerwacji wyślemy Ci maila przypominającego o rezerwacji.
    <br><br>
    Jeżeli chcesz odwołać rezerwację kliknij w ten link: [[${appealLink}]]
    <br>
    Z pozdrowieniami,
    <br>
    Zespół ISRK
</body>
</html>