<h1 mat-dialog-title>Dodaj zasób</h1>
<div mat-dialog-content>
  <form [formGroup]="resourceGroup">
  <p>Nazwa</p>
  <mat-form-field appearance="fill">
    <mat-label>Nazwa</mat-label>
    <input formControlName="name" required matInput [(ngModel)]="data.name">
  </mat-form-field>
  <p>Czy zasób pracuje w weekendy?</p>
  <mat-form-field appearance="fill">
    <mat-label>Weekendy</mat-label>
    <mat-select formControlName="weekends" required [(ngModel)]="data.weekendsEnabled">
      <mat-option [value]=true>Tak</mat-option>
      <mat-option [value]=false>Nie</mat-option>
    </mat-select>
  </mat-form-field>
  <p>Długość wizyty</p>
  <mat-form-field appearance="fill">
    <mat-label>Długość wizyty</mat-label>
    <input formControlName="length" required type="number" matInput [(ngModel)]="data.lengthOfVisit">
  </mat-form-field>
  <p>Sloty</p>
  <mat-form-field appearance="fill">
    <mat-label>Liczba slotów na godzinę</mat-label>
    <input formControlName="slots" required type="number" matInput [(ngModel)]="data.slots">
  </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Anuluj</button>
  <button mat-raised-button color="accent" [disabled]=!this.resourceGroup.valid [mat-dialog-close]="data.valueOf()" cdkFocusInitial>Utwórz</button>
</div>
