<mat-card>
  <mat-card-content>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
      <h2>Logowanie</h2>
      <mat-form-field>
        <input matInput placeholder="Login" [(ngModel)]="username" name="username" required>
        <mat-error>
          Podaj poprawny login
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Hasło" [(ngModel)]="password" name="password" required>
        <mat-error>
          Podaj poprawne hasło
        </mat-error>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Zaloguj się</button>
    </form>
  </mat-card-content>
</mat-card>
