<mat-stepper orientation="vertical" [linear]=true #stepper>
  <mat-step [stepControl]="firstFormGroup" [completed]="isDateSelect">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Wybierz termin i czas rezerwacji</ng-template>
      <ng-template matStepContent>
        <full-calendar #bookCalendar [options]="calendarOptions" [deepChangeDetection]="true"
                       class="calendar"></full-calendar>
        <button style="margin-top:10px;" mat-raised-button (click)="backToHome()">Wróć</button>
      </ng-template>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <ng-template matStepLabel>Uzupełnij swoje dane</ng-template>
    <form [formGroup]="secondFormGroup">
      <div class="grid">
        <mat-form-field appearance="fill">
          <mat-label>Imię</mat-label>
          <input matInput formControlName="firstName" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Nazwisko</mat-label>
          <input matInput formControlName="lastName" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="user@example.com" formControlName="email" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Powód wizyty</mat-label>
          <textarea matInput formControlName="reason"></textarea>
        </mat-form-field>
      </div>
    </form>
    <button mat-button matStepperPrevious>Wróć</button>
    <button mat-button matStepperNext [disabled]="!secondFormGroup.valid">Dalej</button>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Podsumowanie</ng-template>
    <p><span class="mat-body-strong">Imię: </span> {{this.secondFormGroup.getRawValue().firstName}}</p>
    <p><span class="mat-body-strong">Nazwisko: </span> {{this.secondFormGroup.getRawValue().lastName}}</p>
    <p><span class="mat-body-strong">Email: </span> {{this.secondFormGroup.getRawValue().email}}</p>
    <p><span class="mat-body-strong">Powód wizyty: </span> {{this.secondFormGroup.getRawValue().reason}}</p>
    <p><span class="mat-body-strong">Zasób: </span> {{this.selectedResourceName}}</p>
    <p><span class="mat-body-strong">Data i czas rezerwacji: </span> {{this.selectedAppointmentDate |date:'yyyy-MM-dd HH:mm':'GMT'}}</p>
    <mat-divider></mat-divider>
    <div class="buttons">
      <button mat-button matStepperPrevious>Wróć</button>
      <button mat-raised-button (click)="bookAppointment()">Zarezerwuj wizytyę</button>
    </div>
  </mat-step>
</mat-stepper>
