<h1 mat-dialog-title>Add break</h1>
<div mat-dialog-content>
  <form [formGroup]="formGroup">
    <mat-form-field appearance="outline">
      <mat-label>Day</mat-label>
      <mat-select formControlName="breakDay" [(ngModel)]="data.day">
        <mat-option *ngFor="let day of days" [value]="day">
          {{day|titlecase}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <p>Break start</p>
    <mat-form-field appearance="outline">
      <mat-label>Start</mat-label>
      <input type="time" matInput name="start" formControlName="start" [(ngModel)]="data.start">
    </mat-form-field>
    <p>Break end</p>
    <mat-form-field appearance="outline">
      <mat-label>End</mat-label>
      <input type="time" matInput name="end" formControlName="end" [(ngModel)]="data.end">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-raised-button color="accent" [disabled]=!this.formGroup.valid [mat-dialog-close]="data.valueOf()">
    Add
  </button>
</div>
